<header>
  <div class="container">
    <p class="text-logo">TheSamurayJack</p>
    <nav>
      <a href="/">Inicio</a>
      <a href="/blog">Blog</a>
      <a href="/about">Acerca de</a>
    </nav>
  </div>
</header>

<style>
  header {
    width: 100%;
    height: 50px;
    background-color: #13151a;
  }

  header .text-logo {
    font-family: "Shadows Into Light";
    padding: 0px 10px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.4em;
  }

  header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  header a:hover {
    color: #fe354e;
  }
</style>
